.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 660px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: var(--white);
    color: var(--text-color);
}

.content {
    position: relative;
    width: 80%;
    height: 90%;
}
.close-modal {
    width: 25px;
    background-color: rgba(210, 210, 215, 0.34);
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    font-weight: 700;
    right: 0;
    &:hover {
        background-color: var(--red);
        color: var(--white);
    }
}
.title,
.guide {
    text-align: center;
}
.title {
    padding: 50px 0 10px 0;
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--primary);
}
.guide {
    font-size: 1.6rem;
}

.title-id,
.title-password {
    margin-left: 10px;
    font-size: 2rem;
    font-weight: 600;
}
.account-id,
.password {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.password {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.forgot-password {
    font-size: 1.8rem;
    font-weight: 600;
    color: #8e8f91;
    cursor: pointer;
}
.remember-password {
    padding: 10px;
    display: flex;
    align-items: center;
    input {
        width: 28px;
        height: 28px;
        border: 1px solid #d2d5da;
        margin-right: 10px;
    }
}
.action {
    display: flex;
    justify-content: center;
    padding: 50px;
    .custom-btn {
        width: 230px;
        height: 45px;
        font-size: 2rem;
        &:hover {
            text-decoration: none;
            color: var(--white);
        }
    }
}
