.wrapper {
    height: 100%;
    width: 100%;
}
.wrapper-table {
    position: relative;
    height: 100%;
    overflow: auto;
    border-radius: 10px;
    background-color: var(--content-table);
    text-align: left;
    color: var(--text-color);
}
.wrapper-table tbody td:nth-child(1),
.wrapper-table thead th:nth-child(1) {
    background-color: var(--header-table);
    left: 0;
}
.custom-table {
    margin: 0;
    width: 100%;
    min-width: 1500px;
    font-size: 1.2rem;

    th,
    td {
        padding: 5px;
        vertical-align: middle;
        border: 1px solid var(--box-shadow);
    }

    th {
        text-align: center;
    }

    th[rowspan='2'] {
        vertical-align: middle;
    }
    td:nth-child(1) {
        text-align: center;
        width: 50px;
    }
    td:nth-child(2) {
        width: 200px;
    }
    td:nth-child(3) {
        width: 200px;
    }
    td:last-child {
        text-align: center;
    }
    td {
        width: 6rem;
    }
}
.sticky-column-1 {
    position: sticky;
    left: 0;
    z-index: 2; /* Đảm bảo cột trên cùng khi cuộn */
    background-color: var(--header-table);
    // border: 1px solid yellow !important;
}

.sticky-column-2 {
    position: sticky;
    left: 50px;
    z-index: 2;
    background-color: var(--header-table);
    // border: 1px solid blue !important;
}

.sticky-column-3 {
    position: sticky;
    left: 246px;
    z-index: 3;
    background-color: var(--header-table);
    // border: 1px solid red !important;
}

.table thead {
    background-color: var(--header-table);
    position: sticky;
    top: 0;
    z-index: 1000;
    top: 0px;
}
