.wrapper {
    position: relative;
    height: 800px;
    width: 1000px;
    overflow: auto;
}
.action {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 10px;
}
.list {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.title {
    font-weight: bold;
    padding: 10px;
}
.admin {
    margin-top: 50px;
}
